* {
    padding: 0;
    margin: 0;
    border: 0;
}

img.icon {
    width: 3em;
    height: auto;
}

.emph-color {
    color: #d6518d;
}

.card-header-col {
    background-color: #cac8cf;
}

.card-header-span {
    background-color: #444444;
}
