* {
    padding: 0;
    margin: 0;
    border: 0;
}

img.icon {
    width: 3em;
    height: auto;
}

a.header-link {
    font-size: 120%;
    color: #b1a2cc;
}

span.emph-colour {
    color: #d6518d;
}
